/* GENERAL */
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Heebo", "Heebo";
  font-weight: 500;
  font-style: normal;
}

/* NAVBAR */
.navbar {
  width: 100%;
  padding: 10px 170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  position: relative;
}

.hamburger {
  display: none;
}


/* LOGO */
.nav-logo img {
  height: 150px;
}

/* DESKTOP NAV */
.nav-links {
  display: flex;
  gap: 40px;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-size: 1.6rem;
  font-weight: 500;
}

.title-1 { 
  padding-bottom: 0.5rem;
  font-size: 3rem;
  text-align: center;
}

.nav-links a:hover { opacity: 0.5; }

/* HAMBURGER BUTTON (hidden on desktop) */
.hamburger {
  width: 35px;
  height: 25px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.hamburger span {
  height: 4px;
  width: 100%;
  background: black;
  border-radius: 3px;
  transition: all 0.3s ease;
}





/* MOBILE MENU */
.mobile-menu {
  position: absolute;
  top: 90px;
  right: 40px;
  width: 180px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.15);
  display: none;
  flex-direction: column;
  gap: 10px;
}

.mobile-menu a {
  font-size: 1.2rem;
  text-decoration: none;
  color: black;
}

/* HAMBURGER ANIMATION */
.hamburger.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
}

.hamburger.open span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}


/* Slide-in animation */

@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(-50px); /* Start slightly left */
  }
  100% {
    opacity: 1;
    transform: translateX(0); 
  }
}

/* Apply animation to the title */
.title {

  animation: slideRight 2s ease forwards; 
}
.title-1 {

  animation: slideRight 2s ease forwards; 
}





/*SECTIONS PAGES */

section{
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container{
  display: flex;
}

/* Profile Section */

#profile{
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
  padding-top: 10px;

}

.section__pic-container{
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.section__text{
  align-self: center;
  text-align: center;
}

.section__text p{
  font-weight: 600;
}

.section__text__p1{
  text-align: center;
   color: rgb(66, 66, 66);
}

.section__text__p2{
  font-size: 1.75rem;
  margin-bottom: 2 rem; 
  padding-bottom: 15px;
  color: rgb(66, 66, 66);
}

.title{
  font-size: 3rem;
  text-align: center;
}

#socials-container{
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
  
}

/* ICONS */

.icon{
  cursor: pointer;
  height: 2rem;
}

/* Buttons */

.btn-container{
  display: flex;
  justify-content: center;
  gap: 1rem;

}

.btn{
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
  border:rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover{
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: rgb(53, 53, 53);
  color: white;
}

.btn-color-1:hover {
  background: rgba(0,0,0);
}

.btn-color-2{
  background: none;
}

.btn-color-2:hover{
  border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container{
  gap: 1rem;
}

#profile{
  position: relative;
}

/* RESPONSIVENESS
@media (max-width: 850px) {
  .nav-links {
    display: none;
  }

  .hamburger {
    display: flex;
  }
} */


/* ABOUT SECTION */

#about{
  position: relative;
  padding-bottom: 2rem;
  padding-top: 5rem;
  
}

.title{

  padding-bottom: 4rem;
}

.about-containers{
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  display: flex;

}

.text-sb{
  color: rgb(85, 85, 85);
}

.about-details-container{
  /* display: flex; */
  flex-direction: column; 
  justify-content: center;
  /* gap: 2rem; */

}

.about-pic {
  border-radius: 2rem;
}

.arrow {
  position: absolute;
  right: -4rem;
  bottom: -2rem;
} 


.details-container{
  padding: 1.5rem;
  flex: 1;
  background: white;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;

}

.section-container{
  /* display: flex;    
  align-items: flex-start;  */
  gap: 4rem;
  height: 80%;
}

.section__pic-container{
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.text-container {
  max-width: 600px;
  line-height: 1.6;
  color: rgb(52, 49, 49);
  margin-bottom: 6rem;
  margin-top: 2rem;
}   

.site-footer-container{
  padding-left: 5rem;
  /* position: absolute;
  left: -4rem;
  bottom: -2rem; */
}

/* My Experience */

#experience{
  position: relative;
}

.experience-sub-title{
  color: rgb(85, 85, 85);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.experience-details-container{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.article-container{
  display: flex;
  text-align: initial;
  /* flex-wrap: wrap; */
  flex-direction:column;
  gap: 2rem;
  justify-content:space-between;
}

.about-containers {
    display: flex;
    width: 100%; /* Make sure this is set */
}

article{
  display:flex;
  /* width: 10rem; */
  /* justify-content: space-around; */
  align-items:start;
  gap: 1.5rem;
}

article .icon{
  cursor: default;
}

/* CONTACT  */

#Contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;   
  height: 70vh;
  gap: 1rem; 
  position: relative;  
  margin-top: -30px;         
}

/* Contact box */
.contact-info-upper-container {
  display: flex;
  justify-content: space-between;   
  align-items: center;
  gap: 2rem;                       
  
  border: 2px solid rgb(163, 163, 163);
  border-radius: 2rem;
  padding: 2rem 2rem;
  width: fit-content;
  background: rgb(255, 255, 255);  

}

.contact-info-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  
}

#Contact{
  /* display: flex;
  justify-content: space-between;
  flex-direction: row; */
  height: auto;
  padding-bottom: 50px ;
  padding-top:130px;
} 

.contact-info-container p {
  font-size: larger;
}

.contact-icon {
  height: 2rem;
  cursor: default;
}

.email-icon {
  height: 2.5rem;
}

/* FOOTER */

.site-footer-container {
  display: flex;
  flex-direction: column; 
  align-items: center;     
  justify-content: center;
  padding: 2rem 0;
  text-align: center;
  margin-top: 3rem;
}

.footer-center {
  display: flex;
  gap: 2rem;              
  margin-bottom: 1rem;
}

.footer-center a {
  text-decoration: none;
  color: black;
  font-weight: 650;
  font-size: 1.2rem;
}

.footer-center a:hover {
  text-decoration: underline;
}

.footer-text {
  font-size: 0.9rem;
  color: rgb(85, 85, 85);
}

/* Projects */

#projects{
  position: relative;
}

.color-container{
  border-color: rgb(163, 163, 163);
  background: rgb(250, 250, 250);
}

.project-img {
  border-radius: 2rem;
  width: 250px; 
  height: 300px; 
  object-fit:cover; 
  align-items: center; 
}

.project-title{
  margin: 1rem;
  color: black;
}

.project-btn {
  color: black;
  border-color: rgb(163, 163, 163);
  text-align: center; 
  padding: 10px 15px; 
  white-space: nowrap; 
  margin-right:-5px
}

.btn-container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;         
  justify-content: center;
}

.article-container {
  display: flex;                   
  justify-content: center;        
  align-items: center;            
}

.details-container {
  display: flex;                  
  flex-direction: column;         
  align-items: center;            
}

/* hamburger */

